body
{
	width: 100%;
	padding:0;
	margin:0;
	display: block;
	background-color: rgba(0,0,0,0.95);
	font-family: proxima-nova;
}


header img
{
	height: 45px;
	width: 45px;
}

.container_principal
{
	position:relative;
	text-align: center;
	width:100%;
	height: 50%;
	overflow: hidden;
}

.wallpaper_principal
{
	display: block;
	width: 100%;
	margin-bottom:-3%;
	margin-top:-18%;
}


.container_principal .after_wallpaper
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.container_principal .after_wallpaper
{
	display:block;
	background-color: rgba(0,0,0,.3);
}

.scris_titlu_principal
{
	position:absolute;
	top:16%;
	left:5%;
	color:white;
	font-size:7.51vw;
}

.poza_pagina
{
	max-width:500px;
	max-height: 250px;
}

.buton_download_principal
{	

	position:absolute;
	width: 10%;
	top:70%;
	left:5%;
	color:white;
	font-variant: small-caps;
	text-decoration: none;
	border-width:1px;
	border-color: #e27e36;
	border-style:solid;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	transition: background-color 0.3s;
	transition: color 0.3s;
}

.buton_download_principal:hover
{
	color:rgba(0,0,0,.95);
	background-color: #e27e36;
}

.sectiune_1
{
	box-sizing: border-box;
	display: inline-block;
	height: 500px;
	width: 100%;
	padding: 30px;
	padding-top: 100px;
	padding-left: 30%;
	background-position: top;
	background-color:#F0F0F0;
}



.sectiune_1 h2
{
	float:left;
	font-size: 40px;
}

.sectiune_1 div
{
	display: inline-block;
	height: 400px;
	width: 40%;
	margin-top: 17px;
}

.sectiune_1 ul
{
	font-size:21px;
	font-weight: bold;
}

.sectiune_2
{
	text-align: center;
	position: relative;
	height: 500px;
	width: 100%;
	color:white;
}

.sectiune_2 h2
{
	font-size: 40px;
	color:#e27e36;
	font-variant:small-caps;
}

.sectiune_2 p
{
	text-align: center;
	line-height: 32px;
	font-size:20px;
	padding: 20px;
}

.sectiune_2 div
{
	padding-bottom: 70px;
}

.sectiune_3 
{
	display: block;
	height: 350px;
	width: 100%;
	background-color:white;
	text-align: center;
	font-size: 20px;
}

.sectiune_3 div
{
	box-sizing: border-box;
	padding-top: 3.5%;
}

.sectiune_3 h2
{
	font-size: 40px;
}

.buton_1
{
	position: relative;
	color:white;
	text-decoration: none;
	border-width:1px;
	border-color: #e27e36;
	border-style:solid;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	transition: background-color 0.3s;
	transition: color 0.3s;
}

.buton_1:hover
{
	color:rgba(0,0,0,.95);
	background-color: #e27e36;
}

.buton_2
{
	color:rgba(0,0,0,.95);
	text-decoration: none;
	border-width:1px;
	border-color: #e27e36;
	border-style:solid;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
}

.buton_2:hover
{
	color:#e27e36;
	background-color:rgba(0,0,0,.95);
	border-color:rgba(0,0,0,.95);
}

@media screen and (max-width: 426px)
{
	.buton_download_principal
	{	
		top:60%;
		padding: 5px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.sectiune_1
	{
		height: 365px;
		padding: 10px;
		padding-left: 15%;
	}

	.sectiune_1 h2
	{
		float:left;
		font-size: 35px;
	}

	.sectiune_1 div
	{
		width: 40%;
		margin-top: 0px;
	}

	.sectiune_2
	{
		height: 600px;
	}
}

@media screen and (min-width: 450px) and (max-width: 800px)
{
	.sectiune_3 
	{
		height: 300px;
	}
}
