header
{
	position: relative; 
	top:0;
	right: 0;
	width: 100%;
	height: 60px;
	/*background-color: rgba(71,40,11,0.65);*/
	background-color: rgba(0,0,0,0.95);
}

header img
{
	z-index: 1;
	position: absolute;
	display:block;
	height: 45px;
	width: 45px;
	margin:7.5px;
}

header nav div
{
	position: absolute;
	top:5px;
	width:100%;
	text-align: center;
}

nav div a
{
	padding:1%;	
	display: inline-block;
	color:white;
	text-decoration: none;
	font-size:20px;
	transition: color 0.3s;
}

nav div a:hover
{
	color:#e27e36;
}

.contact_sus
{
	line-height: 30px;
	position: absolute;
	display: inline-block;
	right: 10px;
	color: white;
	font-size:15px;
	text-decoration: none;
	transition: color 0.3s;
}

.magazin_sus
{
	top:25px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	right: 10px;
	color: white;
	font-size:15px;
	text-decoration: none;
	transition: color 0.3s;
}

.contact_sus:hover
{
	color:#e27e36;
}

.magazin_sus:hover
{
	color:#e27e36;
}

.dropdown
{
	position: absolute;
	display: none;
	right: 10px;
	top:10px;
	color:white;
	float:right;
}

.buton_drop
{
	background-color: #F6F6F6;
	color:black;	
	border: none;
}

.submeniu
{
	display: none;
	position: absolute;
	right: 0;
	background-color: white;
	min-width:200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
}

.submeniu a
{
	color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 20px;
}

.submeniu a:hover
{
	background-color: #F6F6F6;
}

.dropdown:hover .submeniu
{
	display: block;
}

.dropdown:hover .buton_drop
{
	background-color: white;
}

@media screen and (max-width: 426px)
{
	header
	{
		background-color: #F6F6F6;
	}

	nav div a,.contact_sus
	{
		display: none;
	}

	header img
	{
		left:43%;
	}

	.dropdown
	{
		display: inline-block;
	}
}