body
{
	width: 100%;
	padding:20;
	margin:0px;
	display: block;
	background-color:#F0F0F0;
}



.container_principal
{
	position:relative;
	text-align: center;
	width:100%;
	height: 45%;
	overflow: hidden;
}

.wallpaper_principal
{
	display: block;
	width: 100%;
	margin-bottom:-3%;
	margin-top:-18%;
}


.container_principal .after_wallpaper
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.container_principal .after_wallpaper
{
	display:block;
	background-color: rgba(0,0,0,.3);
}

.scris_titlu_principal
{
	position:absolute;
	top:13%;
	left:5%;
	color:white;
	font-size:7.51vw;
}

#servicii, #produse
{
	display:block;
	margin:30px;
}

#servicii h2, #produse h2
{
	font-size:30px;
}

#serv
{
	position: relative;
}

.produs_magazin
{
	display: inline-block;
	position: relative;
	height: 210px;
	width: 28%;
	color:#e27e36;
	border-width:1px;
	border-color: #e27e36;
	border-style:solid;
	margin-right:40px;
	padding: 15px;
	line-height: 50px;
}

.produs_magazin p
{
	text-align: center;
	font-size: 20px;
}

.produs_magazin p:first-child
{
	text-align: center;
	font-size: 25px;
	font-weight: 200;
} 


#unelte
{
	position: sticky;
	top: 10%;
}

#unelte button
{
	border-color: #e27e36;
	width: 15%;
	height: 50px;
	padding: 13px;  
	font-size: 15px;
	margin-right: 5px;
	margin-bottom: 5px; 
}

#container_range button
{
	width:50px;
	height: 30px;
	padding:0;
	margin-left: 5px;
}

#logout
{
	z-index: 1;
	display: inline-block;
	position: absolute;
	right:30px;
	border: 2px solid;
	border-color: #e27e36;
	text-decoration: none;
	padding: 10px;  
	font-size:20px;
}

#ora
{
	font-size: 20px;
	text-align: center;
}

.salut
{
	padding-top: 30px;;
	font-size: 25px;
	text-align: center;
	color:black;
}

#container
{
	position: relative;
}

#animatie {
	position: absolute;
	color: #e27e36;
	font-size: 20px;
  }