<h2>Bun venit!</h2>
	<div class = "meniu_footer">
		<a href = "/" target = "_parent">ACASA</a>
		<a href = "/proiecte" target="_parent">PROIECTE</a>
		<a href = "/prezentare" target="_parent">DESPRE MINE</a>
		<a href = "/CV" target="_parent">CV</a>
	</div>
	<a class = "buton_sus" href = #>&#9651;</a>
