<div>
    <a href = "/"><img src = "/imagini/B_C.png" alt = "Logo"></a>
    <nav>
        <div>
            <a href = "/proiecte" target="_parent">PROIECTE</a>
                <a href = "/prezentare" target="_parent">PREZENTARE</a>
            <a href = "/CV" target="_parent">CV</a>
        </div>
    </nav>
   
    <a class = "contact_sus" href = "/contact" target="_parent">CONTACT</a>
    <a class = "magazin_sus" href = "/magazin" target="_parent">MAGAZIN</a>
    <div class = "dropdown">
        <button class = "buton_drop">
            <i class="fa fa-bars"></i>
        </button>
            <div id="anim" class = "submeniu">
                <a href = "/proiecte">
                    PROIECTE
                </a>
                <a href = "/prezentare">
                    PREZENTARE
                </a>
                <a href = "/CV">
                    CV
                </a>
                <a href = "/contact">CONTACT
                </a>
               </div>
    </div>
</div>