<!DOCTYPE html>
<html lang = "ro">
<head>
	<meta name = "description" content = "Eroare"/>
	<meta name = "keywords" content = "Eroare"/>
	<meta name = "author" content = "Barbu Ciprian-Dragos"/>
    <meta name = "viewport" content="width=device-width,initial-scale=1.0"/>
    
    <link rel="stylesheet" type="text/css" href="/css/404.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon.ico"/>

	<title>Barbu Ciprian</title>
</head>
<body>
    <header>
		<a href = "/"><img src = "/imagini/B_C.png" alt = "Logo"></a>
    </header>
    <main>
        <h2>404 ERROR</h2>
        <p>Imi cer scuze dar pagina nu exista.</p>
        <a class = "buton_acasa" href = "/" target = "_parent">INAPOI ACASA</a>
    </main>
</body>