<!DOCTYPE html>
<html lang = "ro">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "Prezenetare personala">
	<meta name = "keywords" content = "HTML"> <!--CSS si celalte in viitor -->
	<meta name = "author" content = "Barbu Ciprian-Dragos">
	<meta name = "viewport" content="width=device-width,initial-scale=1.0">

	<%- include ("../frag/head") %>

	<link rel="stylesheet" type="text/css" href="/css/cv.css">

	<title>Barbu Ciprian - CV</title>
</head>
<body>
	<header>
		<%- include ("../frag/header") %>
	</header>
	<main>
		<div class = "container_principal">
			<img class = "wallpaper_principal" src = "imagini/CV/wallpaper_principal.jpg" alt = "Wallpaper principal">
			<div class = "after_wallpaper"></div>
			<h1 class = "scris_titlu_principal">CV.</h1>
			<a href = "imagini/CV/CV-BarbuCiprian.pdf"  class = "buton_download_principal" target="_blank">VEZI CV →</a>
		</div>
		<section class = "sectiune_1">
			<h2>Limbaje cunoscute</h2>
			<div>
				<ul>
					<li>C / C++</li>
					<li>C#</li>
					<li>Assembly</li>
					<li>Python</li>
					<li>HTML5 / 	CSS3</li>
				</ul>
			</div>
		</section>
		<section class = "sectiune_2">
			<h2>Studii</h2>
			<div>
				<p>Universitatea din Bucuresti, Facultatea de Matematica si Informatica<br>Septembrie 2018 - Prezent</p>
				<a class = "buton_1" href = "http://fmi.unibuc.ro/" target="_blank">VEZI SITE →</a>
			</div>
			<p>Colegiul National Ion Luca Caragiale, Bucuresti,<br>Septembrie 2014 - Iulie 2018</p>
			<a class = "buton_1" href = "https://www.cnilcb.ro/" target="_blank">VEZI SITE →</a>
		</section>
		<section class = "sectiune_3">
			<div>
				<h2>Rezultate</h2>
				<p>Medie finala liceu: 9,46</p>
				<p>Medie examen Bacalaureat: 9,34</p>
			</div>
		</section>
	</main>


	<footer>
		<%- include ("../frag/footer") %>
	</footer>
</html>
