<!DOCTYPE html>
<html lang = "ro">
<head>
	<meta name = "description" content = "Eroare"/>
	<meta name = "keywords" content = "Eroare"/>
	<meta name = "author" content = "Barbu Ciprian-Dragos"/>
    <meta name = "viewport" content="width=device-width,initial-scale=1.0"/>
    
    <link rel="stylesheet" type="text/css" href="/css/review.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon.ico"/>

    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=5DuGqdvnQwUJRp4MVU90isg1VSVcTKHzsFJxXsl3mjLMkKpvsXRMxcFZcn5jxbDi5r5cFr10pz1cCz1zZ3obqCFavh19uhpE-JjGyDQRFUMvXGE4FhToCZkh1DGiQWiqVPwy43a9riZWZuBZbm0glg" charset="UTF-8"></script>
	<script src="imagini/magazin/review.js"></script>


	<title>Barbu Ciprian</title>
</head>
<body>
    <header>
		<a href = "/"><img src = "/imagini/B_C.png" alt = "Logo"></a>
    </header>
    
</body>