body
{
	margin:0;
	display: block;
	/*background-color:rgba(245,245,245,0.4);*/
	background-color: rgba(0,0,0,0.95);
	font-family: proxima-nova;
}


.container_principal
{
	position:relative;
	text-align: center;
	width:100%;
	height: 50%;
	overflow: hidden;
}


.wallpaper_principal
{
	background-color: rgba(0,0,0,0.95);
	display: block;
	width: 100%;
	margin-bottom:-3%;
	margin-top:-18%;
}

.container_principal .after_wallpaper
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.container_principal .after_wallpaper
{
	display:block;
	background-color: rgba(0,0,0,.3);
}

.scris_titlu_principal
{
	position:absolute;
	top:27%;
	left:5%;
	color:white;
	font-size:7.51vw;
}

.sectiune_1
{
	display: inline-block;
	padding-top: 10%;
	padding-bottom: 10%;
	background-position: top;
	background-color:#F0F0F0;
}

.sectiune_1 div img
{
	padding:10px;
	margin-left: 10%;
	margin-right: 5%; 
	float: left;
	max-height: 500px;
	max-width: 500px;
}

.sectiune_1 div h3
{
	text-align: center;
	padding:10px;
	font-size: 20px;
	font-weight: 600;
}

.sectiune_1 div p
{
	margin:10px;
	padding:20px;
	text-align: left;
	font-size: 17px;
	line-height: 32px;
}

.sectiune_2
{
	display: inline-block;
	padding: 100px;
	padding-top: 10%;
	padding-bottom: 10%;
	color:white;
}
.sectiune_2 div
{
	float:left;
	display: inline;
	width: 49%;
}
.sectiune_2 img
{ 
	margin-left: 10%;
	max-height: 500px;
	max-width: 500px;
}

.sectiune_2 div h3
{
	color:#e27e36;
	text-align: center;
	font-size: 20px;
}

.sectiune_2 div p
{
	right:0;
	text-align: right;
	font-size: 17px;
	line-height: 32px;
	float:right;
}
.sectiune_principala
{
	padding:40px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
	color:rgba(0,0,0,0.95);
}
.sectiune_principala div
{
	margin-left: 20%;
	margin-right: 20%;
}

.sectiune_principala h2
{
	text-align: center;
	font-weight: bold;
	font-size: 55px;
}

.sectiune_principala aside
{
	margin: 15px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
}


@media screen and (max-width: 426px)
{
	.sectiune_principala h2
	{
		font-size: 30px;
	}

	.sectiune_principala aside
	{
		font-size:17px;
	}

	.sectiune_1 img
	{
		width: 80%;
	}

	.sectiune_1 div p
	{
		text-align: center;
	}

	.sectiune_2
	{
		margin:auto;
		padding:5%;
	}

	.sectiune_2 div
	{
		float:none;
		width: 80%;
	}

	.sectiune_2 div p
	{
		text-align: center;
	}

	.sectiune_2 img
	{
		width: 80%;
	}
}

@media screen and (min-width: 450px) and (max-width: 800px)
{
	
	.sectiune_1 div img
	{
		max-height: 300px;
		max-width: 300px;
	}

	.sectiune_1 div h3
	{
		font-size: 30px;
	}

	.sectiune_1 div p
	{
		font-size: 20px;
	}

	.sectiune_2 div
	{
		width: 93%;
	}

	.sectiune_2 img
	{ 
		margin-left: 25%;
		max-height: 300px;
		max-width: 300px;
	}

	.sectiune_2 div h3
	{
		font-size: 30px;
	}

	.sectiune_2 div p
	{
		text-align: center;
		font-size: 20px;
	}
}
